<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Deportes Integrations</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link href="../css/deportes.css" th:href="@{/css/deportes.css}" rel="stylesheet" media="screen"/>
    </head>
    <body ng-app="deportes">
        <div class="container">
            <div ng-controller="home">
                <h4>{{greeting.title}}</h4>
                <p>{{greeting.content}}</p>
            </div>
            <div ng-controller="activityList">
                <table>
                    <tr ng-repeat="x in actities">
                        <td ng-if="$odd" class="odd">
                            {{ x.eventId }}</td>
                        <td ng-if="$even">
                            {{ x.eventId }}</td>

                        <td ng-if="$odd" class="odd">
                            {{ x.fixture }}</td>
                        <td ng-if="$even">
                            {{ x.fixture }}</td>

                        <td ng-if="$odd" class="odd">
                            {{ x.status }}</td>
                        <td ng-if="$even">
                            {{ x.status }}</td>

                        <td ng-if="$odd" class="odd">
                            {{ x.delayTime }}</td>
                        <td ng-if="$even">
                            {{ x.delayTime }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.8/angular.min.js"
                th:src="@{/webjars/angularjs/1.3.8/angular.min.js}"></script>
        <script type="text/javascript" src="../js/deportes.js"
                th:src="@{/js/deportes.js}"></script>
    </body>
</html>